* {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  @include box-sizing(border-box);
}

body {
  background: #000 !important;
  padding-top: 0;
}

em {
  font-style: normal;
}

strong {
  font-weight: bold;
}
