  {{#is step 1}}
    <div class="toolbar toolbar-default clearfix">
      <div class="break-left animated bounceInLeft">
        <ul class="toolbar-list list-nav">
          <li><a class="active" href="#">Trending</a></li>
          <li><a href="#">Upcoming</a></li>
          <li><a href="#">Fresh</a></li>
        </ul>
      </div>
      {{!-- Moved the add button to the app header. --}}
      {{!-- <div class="break-right animated bounceInRight">
        <div class="actions-user">
          <button class="btn round" id="add-item">Add</button>
        </div>
      </div> --}}
    </div>
  {{/is}}

  {{#is step 2}}
    <div class="toolbar toolbar-editor">
      <div class="break-left animated bounceInLeft">
        <ul class="toolbar-list list-progress">
          <li><a class="complete" href="#"><span class="step-number">1</span> Upload Image</a></li>
          <li><a href="#"><span class="step-number">2</span> Adjust</a></li>
          <li><a href="#"><span class="step-number">3</span> Style</a></li>
          <li><a href="#"><span class="step-number">4</span> Text</a></li>
        </ul>
        <div class="progress-meter"></div>
      </div>
      <div class="break-right animated bounceInRight">
        <div class="actions-user">
          <button class="btn round" id="cancel-item">Cancel</button>
          <button class="btn round btn-emphasis" id="publish-item">Publish</button>
        </div>
      </div>
    </div>
  {{/is}}
