<div class="sequenced">
  <form class="app-search animated fadeInRight">
    <input class="transparent" type="text" placeholder="Search">
  </form>

  <a href="#" class="animated fadeInRight">Chris Griffith</a>
  <a href="#" class="animated fadeInRight">Settings</a>
  <a href="#" class="animated fadeInRight">Log Out</a>
</div>

<p class="app-credit">Stream was designed and developed by Terra Eclipse, Inc.</p>
