<div class="wrapper-section">
  <h1 class="app-title">Social Stream</h1>
  <nav class="header-nav">
    <a href="#">Discover</a>
    <a href="#">News</a>
    <a href="#">About</a>
    <button class="btn round" id="add-item">Log In</button>
    <button class="btn round btn-emphasis" id="add-item">Do Something</button>
  </div>
</div>
