<div class="login wrapper-modal clearfix">
  <h3 class="step-header break-left animated bounceInLeft">Log In</h3>
  <button class="btn break-right animated bounceInRight" id="cancel-login">Cancel</button>
</div>
