
<div class="post-single">
  <article class="stream-post animated bounceInUp" data-filter="{{{data.posts.1.filter}}}">
    <img src="{{{data.posts.1.image}}}" />
    <div class="item-text"><p><span>{{data.posts.1.text}}</span></p></div>
  </article>
</div>
