<div class="featured animated animated-delay fadeIn">
  <img src="/img/van-persie-flying.jpg" />
</div>

<div class="profile-meta animated fadeIn">
  <div class="wrapper-content clearfix">
    <div class="profile-image">
      <img src="/img/profile.jpg" />
    </div>
    <h2 class="profile-name">Chris Griffith</h2>
    <h3 class="profile-tagline">Baller and shot caller. <a href="https://twitter.com/chrisgmedia">https://twitter.com/chrisgmedia</a>.</h3>
    {{!--
    <div class="profile-stats break-left">
      <div class="break-left">
        <p><em>Streams</em>4</p>
        <p><em>Followers</em>2,400</p>
      </div>
    </div>
    <div class="profile-stats break-right">
      <div class="break-left">
        {<a href="#"><i class="ion ion-social-facebook"></i></a>
        <a href="#"><i class="ion ion-social-twitter"></i></a>
        <button class="btn" id="follow-user">Follow</button>
      </div>
    </div> --}}
  </div>
</div>

<div class="stream wrapper-section clearfix animated animated-delay bounceInUp">
  <a href="/profile/stream">
    <article class="stream-collection clearfix">
      <div class="stream-item ">
        <img src="img/original.jpg" />
      </div>
      <div class="collection-info">
        <h3>One Does Not Simply</h3>
        <p class="info-description">Toadfish freshwater flyingfish rough scad Bigscale pomfret wrymouth ocean perch fathead sculpin Oregon chub.</p>
        <div class="collection-stats">
          <p>Items<br><strong>21</strong></p>
        </div>
      </div>
    </article>
  </a>
  <article class="stream-collection clearfix">
    <div class="stream-item ">
      <img src="img/ski.jpg" />
    </div>
    <div class="collection-info">
      <h3>Ski</h3>
      <p class="info-description">Pretty much all freestyle.</p>
      <div class="collection-stats">
        <p>Items<br><strong>8</strong></p>
      </div>
    </div>
  </article>
  <article class="stream-collection clearfix">
    <div class="stream-item ">
      <img src="img/robben.jpg" />
    </div>
    <div class="collection-info">
      <h3>The Real Football</h3>
      <p class="info-description">You know? The one you actually play with your feet.</p>
      <div class="collection-stats">
        <p>Items<br><strong>11</strong></p>
      </div>
    </div>
  </article>
  <article class="stream-collection clearfix">
    <div class="stream-item ">
      <img src="img/amsterdam.jpg" />
    </div>
    <div class="collection-info">
      <h3>Dope Places</h3>
      <p class="info-description">Auf dem ganze Weld.</p>
      <div class="collection-stats">
        <p>Items<br><strong>1</strong></p>
      </div>
    </div>
  </article>
  {{!-- <article class="stream-collection clearfix">
    <div class="stream-item ">
      <div class="collection-item"><img src="img/group2.jpg" /></div>
      <div class="collection-item"><img src="img/group3.jpg" /></div>
      <div class="collection-item"><img src="img/group4.jpg" /></div>
      <div class="collection-item"><img src="img/group1.jpg" /></div>
    </div>
    <div class="collection-info">
      <h3>Recipes</h3>
    </div>
  </article> --}}
</div>

