<div class="featured animated animated-delay fadeIn">
  <img src="/img/van-persie-flying.jpg" />
</div>

<div class="profile-info animated fadeIn">
  <div class="profile-image">
    <img src="/img/profile.jpg" />
  </div>
  <h2 class="profile-name">Chris Griffith</h2>
  <p class="profile-tagline">Baller and shot caller.</p>
</div>

<div class="stream wrapper-section clearfix animated animated-delay bounceInUp">
  <article class="stream-item stream-collection">
    <div class="collection-item"><img src="img/group2.jpg" /></div>
    <div class="collection-item"><img src="img/group3.jpg" /></div>
    <div class="collection-item"><img src="img/group4.jpg" /></div>
    <div class="collection-item"><img src="img/group1.jpg" /></div>
  </article>
  <article class="stream-item stream-collection">
    <div class="collection-item"><img src="img/group2.jpg" /></div>
    <div class="collection-item"><img src="img/group3.jpg" /></div>
    <div class="collection-item"><img src="img/group4.jpg" /></div>
    <div class="collection-item"><img src="img/group1.jpg" /></div>
  </article>
  <article class="stream-item stream-collection">
    <div class="collection-item"><img src="img/group2.jpg" /></div>
    <div class="collection-item"><img src="img/group3.jpg" /></div>
    <div class="collection-item"><img src="img/group4.jpg" /></div>
    <div class="collection-item"><img src="img/group1.jpg" /></div>
  </article>
  <article class="stream-item stream-collection">
    <div class="collection-item"><img src="img/group2.jpg" /></div>
    <div class="collection-item"><img src="img/group3.jpg" /></div>
    <div class="collection-item"><img src="img/group4.jpg" /></div>
    <div class="collection-item"><img src="img/group1.jpg" /></div>
  </article>
</div>

