{{#is stream 'all'}}
  <div class="stream wrapper-section clearfix animated bounceInUp">
    <article class="stream-item">
      <a href="/thought">
        <div class="item-image">
          <img src="img/original.jpg" />
        </div>
        <div class="info info-sm">
          <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
          <em class="break-right">1 hour ago</em>
        </div>
      </a>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/group2.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
        <em class="break-right">4 hours ago</em
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/group3.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/group4.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/group1.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/muse.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/22jumpstreet.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/1bim.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="img/dumbledore.jpg" />
      </div>
      <div class="info info-sm">
        <a href="/profile"><div class="meta-image image-sm"><img src="/img/profile.jpg" /></div></a>
      </div>
    </article>
  </div>
{{/is}}


{{#is stream 'user'}}
  <div class="featured animated animated-delay fadeIn" style="background-image: url(/img/original.jpg)"></div>
  <div class="meta meta-collection">
    <div class="wrapper-content clearfix">
      <h2 class="meta-name">One Does Not Simply...</h2>
      <h3 class="meta-tagline">Create multiple stream pages.</h3>
    </div>
  </div>
  <div class="stream wrapper-section clearfix animated bounceInUp">
    <div class="stream">
    <article class="stream-item">
      <a href="/thought">
        <div class="item-image">
          <img src="../img/original.jpg" />
        </div>
      </a>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
    <article class="stream-item">
      <div class="item-image">
        <img src="../img/original.jpg" />
      </div>
    </article>
  </div>
</div>
{{/is}}
