<article class="stream-item">
  <div class="stream-item-image">
    <img src="img/group1.jpg" />
  </div>
  <div class="stream-item-meta">
  </div>
</article>
<article class="stream-item"><img src="img/group2.jpg" /></article>
<article class="stream-item"><img src="img/group3.jpg" /></article>
<article class="stream-item"><img src="img/group4.jpg" /></article>
<article class="stream-item"><img src="img/shark.jpg" /></article>
<article class="stream-item"><img src="img/muse.jpg" /></article>
<article class="stream-item"><img src="img/22jumpstreet.jpg" /></article>
<article class="stream-item"><img src="img/1bim.jpg" /></article>
<article class="stream-item"><img src="img/dumbledore.jpg" /></article>
