<div class="overlay">
  <div class="thought wrapper-content table animated fadeIn">
    <button class="btn" id="close">Close</button>
    <div class="thought-item">
      <div class="item-image image-large">
        <img src="/img/original.jpg" />
      </div>
    </div>
  </div>
</div>
