* {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  @include box-sizing(border-box);
}

body {
  // background: #eee;
  background: #1b1b1b;
  padding-top: 0;
  min-height: 5000px;
}

em {
  font-style: normal;
}

strong {
  font-weight: bold;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
