<div class="login-form table-cell cell-middle">
  <h3 class="step-header">Log In</h3>
  <form>
    <label>Username</label>
    <input type="text">
    <label>Password</label>
    <input type="password">
    <input type="submit" class="btn btn-submit btn-emphasis" id="submit-login">
  </form>
</div>
