
<div class="table">

  <div class="editor-preview table-cell animated fadeInLeft filter-sophisticated">
    <div class="item-text">
        <textarea placeholder="Text here."></textarea>
      </div>
    <div class="item-image">
      <img src="/img/ski.jpg" />
    </div>
  </div>

  <div class="tools-filters table-cell animated fadeInRight">
    <ul class="filters-list">
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
      <li><img src="/img/ski.jpg" /></li>
    </ul>
  </div>
</div>
