<div class="tools-filters animated fadeInDown">
  <ul class="filters-list">
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
  </ul>
</div>
<div class="table">
  <div class="tools-preview table-cell animated fadeInLeft">
    <img src="/img/ski.jpg" />
  </div>
  <div class="tools-text table-cell animated fadeInRight">
    <textarea class="sophisticated" placeholder="Text here."></textarea>
  </div>
</div>
