<div class="tools-filters animated fadeInDown">
  <ul class="filters-list">
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
    <li><img src="/img/ski.jpg" /></li>
  </ul>
</div>
<div class="tools-preview break-left animated fadeInLeft">
  <img src="/img/ski.jpg" />
</div>
<div class="tools-text break-left animated fadeInRight"></div>
