* {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  .box-sizing(border-box);
}

body {
  background: #1b1b1b;
  padding-top: 0;
  min-height: 5000px;
  font-family: @main_font_stack;
}

p {
  line-height: 1.5;
}

em {
  font-style: normal;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4 {
  margin-bottom: 1em;
}

button {
  font-family: @main_font_stack;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
