/**
 * Formatting.
 **********************************************************/
.break-left {
  float: left;
}
.break-right {
  float: right;
}
.wrapper-section {
  margin: 0 auto;
  width: @wrapper_sm;

  @media screen and (min-width: @break_md) {
    width: @wrapper_md;
  }
  @media screen and (min-width: @break_lg) {
    width: @wrapper_lg;
  }
  @media screen and (min-width: @break_xl) {
    width: @wrapper_xl;
  }
  @media screen and (min-width: @break_xxl) {
    width: @wrapper_xxl;
  }
}
.wrapper-content {
  margin: 0 auto;
  width: 90%;

  @media screen and (min-width: @break_md) {
    width: 640px;
  }
}
.wrapper-modal {
  margin: 0 auto;
  width: 320px;
}
.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}
.cell-middle {
  vertical-align: middle;
}

/**
 * Header.
 **********************************************************/
.header-background {
  height: 4.6em;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  overflow: hidden;
  // border-bottom: 1px solid rgba(255,255,255,0.25);
}
.header-background-inner {
  width: 105%;
  height: 105%;
  background: url('../img/van-persie-flying-blurred.jpg') no-repeat center top;
  background-size: 120% auto;
  .filter(brightness(0.5));
}
.app-header {
  position: relative;
  height: 4.5em;
  top: 0;
  width: 100%;
  z-index: 999;
}
.app-title {
  float: left;
  padding: 1em 0;
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.header-nav {
  float: right;

  a {
    text-decoration: none;
  }
  a.link {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    padding: 1.7em 1em 1.8em;
  }
  button {
    margin-left: 0.5em;
    margin-top: 1em;
  }
}
.nav-large {
  display: none;

  @media screen and (min-width: @break_lg) {
    display: block;
  }
}
.nav-mobile {
  display: block;

  @media screen and (min-width: @break_lg) {
    display: none;
  }
}

.app-nav-handle {

}
.app-nav {
  position: fixed;
  height: 93%;
  width: 35%;
  right: 0;
  margin: 5% 0 2%;
  padding: 0 4em 0 2em;

  a {
    color: #fefefe;
    display: block;
    padding: 1em;
    opacity: 0.75;
  }
}

.app-credit {
  position: absolute;
  bottom: 0;
  font-size: 0.83em;
  opacity: 0.4;
  color: #fefefe;
}


/**
 * The Stream Items and Item Interaction.
 **********************************************************/
// .stream-post {
//   .item-text {
//     opacity: 0;
//     .transition(opacity 0.375s);
//   }
// }

// .stream-post:hover {
//   .item-text {
//     opacity: 1;
//   }
// }
