/**
 * Formatting.
 **********************************************************/
.break-left {
  float: left;
}
.break-right {
  float: right;
}
.wrapper-section {
  margin: 0 auto;
  width: @wrapper_sm;

  @media screen and (min-width: @break_md) {
    width: @wrapper_md;
  }
  @media screen and (min-width: @break_lg) {
    width: @wrapper_lg;
  }
  @media screen and (min-width: @break_xl) {
    width: @wrapper_xl;
  }
  @media screen and (min-width: @break_xxl) {
    width: @wrapper_xxl;
  }
}
.wrapper-content {
  margin: 0 auto;
  width: 640px;
}
.wrapper-modal {
  margin: 0 auto;
  width: 480px;
}
.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

/**
 * Header.
 **********************************************************/
.header-background {
  height: 4.6em;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  overflow: hidden;
  // border-bottom: 1px solid rgba(255,255,255,0.25);
}
.header-background-inner {
  width: 105%;
  height: 105%;
  background: url('../img/van-persie-flying-blurred.jpg') no-repeat center top;
  background-size: 120% auto;
  .filter(brightness(0.5));
}
.app-header {
  position: relative;
  height: 4.5em;
  top: 0;
  width: 100%;
  z-index: 999;
}
.app-title {
  float: left;
  padding: 1em 0;
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.header-nav {
  float: right;

  a {
    text-decoration: none;
  }
  a.link {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    padding: 1.7em 1em 1.8em;
  }
  button {
    margin-left: 0.5em;
    margin-top: 1em;
  }
}
.nav-large {
  display: none;

  @media screen and (min-width: @break_lg) {
    display: block;
  }
}
.nav-mobile {
  display: block;

  @media screen and (min-width: @break_lg) {
    display: none;
  }
}

/**
 * App Actions Toolbar.
 **********************************************************/
.actions {
  width: 100%;
  min-height: 5em;
  margin-top: 1em;
}

.toolbar {
  padding-top: 0.9em;
}
.toolbar-list {
  li {
    font-size: 1.27em;
    display: inline-block;
    padding: 0 1.5em 0 0;

    a {
      color: #fff;
      display: block;
      text-decoration: none;
      padding: 0.7em 0 1.35em;
      opacity: 0.7;
      .transition(all 1s);
    }
  }
}
.list-nav {
  a.active,
  a:hover {
    opacity: 1;
    border-bottom: 2px solid @accent;
  }
}
.list-progress {
  a.complete {
    opacity: 1;
  }
}
.step-number {
  display: inline-block;
  position: relative;
  color: @auto;
  font-size: 0.83em;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  line-height: 1.4;
  margin-bottom: -0.45em;
  margin-right: 0.5em;
  background: rgba(255,255,255,0.5);
  .border-radius(50%);
}
.progress-meter {
  border-bottom: 2px solid @accent;
  width: 170px;
}

/**
 * Body in editing mode.
 **********************************************************/
.editing {
  overflow: hidden;

  .featured {
  }
  .profile {
    opacity: 0.3;
    .transform(scale(0.85));
  }
  .editor {
    margin-top: 4em;
    margin-bottom: 2em;
    height: 650px;
  }
  .stream {
    opacity: 0.3;
    .transform(scale(0.85));
  }
}

/**
 * Editor.
 **********************************************************/
.editor {
  width: 100%;
  height: 0;
  position: relative;
  color: @auto_light;

  > div {
    width: 100%;
    height: 100%;
  }

  .transition(all 0.375s);
}
.editor-upload {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 6em 25%;
  border: 3px dashed @auto;

  .transition(border 0.275s);
}
.editor-upload:hover,
.editor-upload.dragenter {
  border: 3px dashed @auto_dark;
}
.step-header {
  font-size: 2.3em;
  color: #fff;
  font-weight: 600;
}
.editor-preview {
  position: relative;
  border: 4px solid @auto_dark;

  * {
    .transition(all 1s);
  }

  .item-text {
    ::-webkit-input-placeholder {
       color: rgba(255,255,255,0.2);
    }
    :-moz-placeholder { /* Firefox 18- */
       color: rgba(255,255,255,0.2);
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: rgba(255,255,255,0.2);
    }
    :-ms-input-placeholder {
       color: rgba(255,255,255,0.2);
    }
  }
}
.tools-filters {
  width: 100%;
  padding-left: 1em;
}
.filters-list {
  text-align: center;

  li {
    display: inline-block;
    margin: 0 1em 0.5em 0;
    border: 2px solid @auto_dark;
    cursor: pointer;
  }
}
.filter-preview {
  width: 7em;
  height: 7em;
  overflow: hidden;
  position: relative;

  img {
    width: 150%;
    margin-left: -15%;
  }

  .item-text p {
    font-size: 3.7em;
  }
}
.filter-label {
  text-align: center;
  padding: 0.5em 0;
  border-top: 2px solid @auto_dark;
  .transition(background 0.275s);
}
.filter-selected {
  .filter-label {
    background: @auto_dark;
  }
}
.item-image {
  background: @auto_dark;
  overflow: hidden;

  img {
    min-width: 100%;
    height: 100%;
  }
}
.editor-preview {
  .item-image {
    width: @stream_item_size*1.7;
    height: @stream_item_size*1.7;
  }
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  p,
  textarea {
    position: absolute;
    z-index: 9;
    color: #fff;
    width: 90%;
    padding: 5%;
    display: block;
    background: none;
    border: none;
    resize: none;
    text-align: center;
    font-size: 7.7em;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    .transform(translate3d(-50%,-50%,0));
  }
}

/**
 * Stream.
 **********************************************************/
.stream {
  position: relative;
  padding-top: 2em;
  // .transition(all 0.375s);
}
.stream-item {
  background: #fff;
  float: left;
  margin: 5px;

  .box-shadow(0 0 4px rgba(0,0,0,0.25));
}
.item-image {
  position: relative;
  overflow: hidden;
  z-index: 9;
  width: @stream_item_size;
  height: @stream_item_size;

  img {
    height: 100%;
  }
}
.collection-item {
  float: left;
  overflow: hidden;
  width: @stream_item_size/2;
  height: @stream_item_size/2;
}

.stream-collection {
  display: block;
  float: left;
  width: @stream_item_size;
  margin: 5px;
}

.stream article:hover {
  .info {
    border-bottom: 3px solid @accent;
  }
}

/**
 * Meta and post info.
 **********************************************************/
.info {
  padding: 1.5em;
  background: darken(@auto_dark,5%);
  // border-top: 1px solid darken(@auto_dark,0%);
  border-bottom: 3px solid darken(@auto_dark,0%);
  .transition(border 0.275s);

  h3 {
    color: #fefefe;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  a {
    color: @auto;
  }
  a:hover {
    text-decoration: underline;
  }
}
.info-sm {
  padding: 0.35em 0.25em 0.25em;

  a {
    padding-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  em {
    color: @auto_light;
    padding: 0.85em 0.5em;
  }
}

.info-description {
  color: darken(#fefefe,15%);
  padding: 0 0 1.5em;
}

.stream-collection:hover {
  // .filter(brightness(0.5));
}

.info-stats {
  border-top: 1px solid darken(@auto_medium,20%);
  p {
    display: inline-block;
    color: darken(#fefefe,15%);
    padding-top: 1em;
    margin-right: 1em;
    line-height: 1.1;
  }
  strong {
    color: #fefefe;
  }
}


.meta {
  .transition(all 0.375s);
}

.meta {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 99;
  margin-top: -35em;
  padding-top: 15em;
  .gradient(rgba(42,42,42,0.0),@auto 90%);
}
.meta-collection {
  margin-top: -25em;
}
.meta-image {
  width: 12em;
  height: 12em;
  background: @auto_medium;
  margin: 0 auto 2em;
  position: relative;
  z-index: 99;
  border: 3px solid #fefefe;
  overflow: hidden;

  .box-shadow(0 -1em 4em rgba(0,0,0,0.3));
  .border-radius(50%);

  img {
    width: 100%;
  }
}
.image-sm {
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  margin: 0;
  border: 3px solid @auto_dark;
  .box-shadow(none);
}

.meta-name {
  color: #fefefe;
  font-size: 3em;
  margin: 1em 0 0.25em;
}
.meta-tagline {
  color: darken(#fefefe,25%);
  font-size: 1.13em;
  padding: 0 0 1em 0.1em;
  margin-bottom: 1em;

  a {
    color: darken(#fefefe,30%);
  }
  a:hover {
    text-decoration: underline;
  }
}
.meta-stats {
  p {
    color: #fefefe;
    text-transform: uppercase;
    font-size: 1.13em;
    position: relative;
    padding: 0 1em 0 0;
    display: inline-block;

    em {
      display: block;
      font-size: 0.73em;
      color: darken(#fefefe,25%);
    }
  }

  a i {
    color: #fefefe;
    font-size: 1.73em;
    padding: 0 0 0 1em;
    margin: 0;
  }
}

/**
 * Profile.
 **********************************************************/
.featured {
  height: 650px;
  position: relative;
  margin-top: -5em;
  overflow: hidden;
  // border-bottom: 1px solid @auto_light;
  .transition(all 0.275s);

  img {
    width: 105%;
    margin-top: -25%;
  }
}

/**
 * Buttons.
 **********************************************************/
.btn {
  background: none;
  color: #fff;
  font-size: 1em;
  margin: 0.35em 0.2em;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0.5em 1.5em;
  overflow: hidden;
  .box-shadow(none);
  .border-radius(25px);
  .transition(all 0.275s);
}
.btn-emphasis {
  background: @accent_dark;
  border: 1px solid @accent;
}

.btn:hover,
.btn:focus,
.btn:active {
  border: 1px solid @accent;
}

.btn-emphasis:hover,
.btn-emphasis:focus,
.btn-emphasis:active {
  background: @accent;
}

.ion {
  font-size: 0.83em;
  position: relative;
  top: -0.075em;
  margin-right: 0.5em;
}

.ion-big {
  font-size: 1em;
  margin: 0;
}

/**
 * Overlay.
 **********************************************************/
.overlay {
  background: @auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/**
 * Login.
 **********************************************************/
.login {
  margin-top: 25%;
}

