
/*
 * General Settings
 **/

/*
 * Font Settings
 **/
@main_font_stack: 'Open Sans','Helvetica',sans-serif;
@main_text_size: 18px;
@sm_device_text_size: 16px;

@font_weight_thin: 200;
@font_weight_normal: 300;
@font_weight_thick: 500;

/*
 * Adaptable Settings
 **/
@break_xs: 320px;
@break_sm: 500px;
@break_md: 768px;
@break_lg: 1024px;
@break_xl: 1280px;
@break_xxl: 1440px;

/*
 * Color Settings
 **/
@auto: #2a2a2a;
@auto_dark: @auto;
@auto_medium: lighten(@auto,40%);
@auto_light: lighten(@auto,60%);

@accent: #50C57B;
@accent_light: lighten(@accent,30%);
